.App {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  margin-left: 250px; /* to match sidebar width */
  padding: 20px;
  background-color: #f9fafc;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  padding-top: 20px;
  border-right: 1px solid #e0e0e0;
}

.sidebar h2 {
  color: #333;
  font-size: 20px;
  margin-left: 20px;
}

.sidebar .MuiListItemText-root {
  color: #666;
}

.sidebar .MuiListItem-root:hover {
  background-color: #e3f2fd;
  border-radius: 5px;
}